* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins';
    color: #fff;
}

h2{
    color: orange;
    font-size: 3em;
    text-align: center;
    margin-top: 4%;
}
.target {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: #e0e0e0;
    text-align: center;
    margin-top: 40px;
    font-family: 'poppins';
}

.target-card {
    padding: 20px;
    background-color: #0f5736;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   
}

.target-card h3 {
    font-size: 120%;
    color: #eceeec;
    margin-top: 2cm;
    
}

.target-card p {
    font-size: 16px;
   
}

#card {
    width: 30%;
}


.explore {
    display: flex;
    word-spacing: 3cm;
    margin-left: 3cm;
    margin-top: 2cm;
    padding-bottom: 3em;
}

h4 {
    margin-top: 2cm;
    color: #4CAF50;
    text-align: center;
    font-size: 150%;
}

#screen {
    width: 10%;
    
}
.screens{
    margin-top: -1%;
}

h5 {
    color: #4CAF50;
    text-align: center;
    font-size: 150%;
    margin-bottom: 1cm;
}







@media only screen and (max-width:750px) {
    body {
        margin: 0%;
        width: 100%;
        height: 200vh;
    }
    h2{
        font-size: 2em;
    }

    .target-card {
        background-color: #0f5736;;
        width: 100%;
       
    }

    .target {
       flex-direction: column;
       gap: 1cm;
       
    }
    .screens{
        flex-direction: column;
        margin-top: -20%;
        margin-left: -15%;
        align-items: center;
    }
    #screen{
        width: 20%;
    }

}


@media only screen and (min-width:751px) and (max-width:999px){
      body {
        margin: 0%;
        width: 100%;
        height: 200vh;
    }
    h2{
        font-size: 3em;
    }

    .target-card {
        background-color: #0f5736;;
        width: 50%;
       
    }

    .target {
       flex-direction: column;
       gap: 1cm;
       align-items: center;
       
    }
    .screens{
        flex-direction: column;
        margin-left: -8%;

    }
    #screen{
        width: 10%;
    }

}
@media only screen and (min-width:1000px){
 
      body {
        margin: 0%;
        width: 100%;
        height: 100vh;
    }
    h2{
        font-size: 3em;
    }

    .target-card {
        background-color: #0f5736;;
        width: 30%;
       
    }

    .target {
       flex-direction: row;
       gap: 1cm;
       align-items: center;
       
    }
    .screens{
        flex-direction: column;
        align-items: center;
        margin-left: 3%;

    }
    #screen{
        width: 4%;
    }

}



    